<li class="pokemon-catalogue-list-item rounded shadow">

    <header>
        <img [src]="pokemon.img" [alt]="pokemon.name" class="image" width="250">
    </header>

    <div>
        
        

        <footer class="pokemon-catalogue-item-detail_footer d-flex justify-content-between align-items-center m-2">
            <section class="pokemon-catalogue-item-text">{{ pokemon.name }}</section>
            <img 
                src="../../../assets/images/pokedex.png" 
                alt="{{pokemon.name}}"
                class="pokedex-img"
                (click)="onPokedexClick()"
                >
            <img 
                src="../../../assets/images/pokeball.png" 
                alt="{{pokemon.name}}" 
                class="pokeball-img" 
                [class.pokeball-color]="collected"
                (click)="onCollectPokemonClick()">
        </footer>
    </div>

</li>