.pokemon-catalogue-list-item {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #0075BE;
}

.image {
    width: 100%;
    display: block;
}

.pokeball-img {
    width: 20%;
    filter: grayscale(100%);
    transition-duration: 0.375s;
}
.pokeball-color {
    filter: grayscale(0%);
}
.pokedex-img {
    width: 20%;
    transition-duration: 0.375s;
}

.pokeball-img:hover, .pokedex-img:hover{
    transform: scale(1.15);
}

.pokemon-catalogue-item-text {
    justify-content: center;
    display: flex;
}

.image:hover {
    transform: scale(1.25);
    transition-duration: 0.375s;
}