<main class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="display-4 mt-2">Trainer Profile</h1>
        </div>
        <div class="col mt-4 mx-4 border border-white shadow-lg rounded">
            <h4 class="align-self-center">Username: {{trainer?.username}}</h4>
            <p>Pokémon caught: {{trainer?.pokemon?.length}}</p>
            <img src="../../../assets/images/pokemon-trainer.png" alt="Pokemon trainer icon" width="100" class="float-end mb-1 px-1 pt-1 bg-white rounded-3" >
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <h3>Pokémon Collection:</h3>
        </div>
    </div>
    <app-trainer-collection-list
        [pokemons]="pokemons"
        [trainer]="trainer" >
    </app-trainer-collection-list>
</main>
