<ul class="pokemon-catalogue-list container">

    <app-pokemon-catalogue-list-item 
    
    *ngFor="let pokemon of pokemons"
    [pokemon]="pokemon"
    [trainer]="trainer"
    (displayPokemonDetails)="onDisplayPokemonDetails($event)">

    </app-pokemon-catalogue-list-item>

</ul>