
<main *ngIf="pokemon" class="container pokemon-detail-item rounded shadow d-flex justify-content-center">
    <div class="">
        <h1 class=>{{ pokemon.name }}</h1>
        <ul *ngIf="pokemon.stats"> Stats:
            <li>HP: {{ pokemon.stats.hp }}</li>
            <li>Attack: {{ pokemon.stats.attack }}</li>
            <li>Defense: {{ pokemon.stats.defense }}</li>
            <li>Special Attack: {{ pokemon.stats.specialattack }}</li>
            <li>Special Defence: {{ pokemon.stats.specialdefence }}</li>
            <li>Speed: {{ pokemon.stats.speed }}</li>
        </ul>
    </div>
    <div  class="">
        <img src="{{ pokemon.img }}" alt="" width="300">
    </div>
</main>