<main class="">
  <div class="container">
    <div class="row">
      <div class="col">

      </div>
      <div class="col-7">
        <h1 class="display-5">Login</h1>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col text-center mt-2">
        <img src="../../../assets/images/pokecomputer.png" alt="a poke workplace with a computer" width="500" class="">
      </div>
      <div class="col-6 text-white mx-2">
        <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
          <fieldset class="input-group input-group-md">
            <span class="input-group-text" id="inputGroup-sizing-md">Username:</span>
            <input
              type="text"
              placeholder="e.g. johndoe"
              ngModel
              #username="ngModel"
              name="username"
              class="form-control"
              minlength="3"
              maxlength="50"
              required
            />
          </fieldset>
      
          <div
            id="usernameErrors"
            class="alert alert-danger mt-1 p-2"
            *ngIf="username.invalid && (username.dirty || username.touched)"
          >
            <!-- Error -->
              <div *ngIf="username.errors">
                  <p class="mb-1" *ngIf="username.errors['required']">Username is required.</p>
                  <p class="mb-1" *ngIf="username.errors['minlength']">Username is too short. (Min. 3)</p>
                  <p class="mb-1" *ngIf="username.errors['maxlength']">Username is too long. (Max. 50)</p>
              </div>
          </div>
      
          <button
            [disabled]="loginForm.invalid"
            class="btn btn-success mt-3 border-2 border-dark"
            type="submit">
            Login
          </button>
          <button class="btn btn-info mx-3 mt-3 border-2 border-dark text-white" routerLink="/register">Register new User</button>
          
        </form>
      </div>
      
    </div>
    <div class="row align-items-center">
      <div class="col">
        
      </div>
      <div class="col">
        
      </div>
      <div class="col-6 rounded-bottom align-self-start">
        
      </div>
    </div>

  </div>
  
    
    
</main>
  