.btn-success:hover {
    background-color: #0fb942;
    border-color: #2224a1;
}

.btn-info:hover {
    background-color: #2298a1;
    border-color: #000000;
}

.btn-success:disabled {
    background-color: #198754;
    opacity: .50;
}

/* main {
    height: 100vh;
    background-color: white;
    color: black;
} */