<nav class="navbar navbar-expand-lg navbar-light navbar-color container-fluid d-flex px-4 justify-content-between align-content-center">
    
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/pokeball.png" width="60" height="60" class="d-inline-block align-center" alt="">
      Pokémon Trainer
    </a>
    <div class="navbar-collapse" *ngIf="user">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" routerLink="/trainer">Trainer Profile</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/pokemon-catalogue">Pokémon Catalogue</a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="navbar-nav" *ngIf="user">
            <li>
                <a class="nav-link">{{user.username}}</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/login" (click)="onSignOutClick()">Sign out</a>
            </li>
        </ul>
    </div>
</nav>



<router-outlet></router-outlet>