.trainer-collection-list-item {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #0075BE;
    margin-bottom: 16px;
}

.image {
    width: 100%;
    display: block;
}

.pokeball-img {
    width: 20%;
    filter: grayscale(100%);
    transition-duration: 0.375s;
}
.pokeball-color {
    filter: grayscale(0%);
}

.pokeball-img:hover {
    transform: scale(1.15);
}