<li class="trainer-collection-list-item rounded shadow">

    <header>
        <img [src]="pokemon.img" [alt]="pokemon.name" class="image" width="200">
    </header>

    <div>
        <footer class="d-flex justify-content-between align-items-center m-2">
            <section class="">{{ pokemon.name }}</section>
            <img 
                src="../../../assets/images/pokeball.png" 
                alt="{{pokemon.name}}" 
                class="pokeball-img" 
                [class.pokeball-color]="collected"
                (click)="onRemovePokemonClick()">
        </footer>
    </div>

</li>
