<main class="container">
	<div class="row">
		<div class="col"></div>
		<div class="col-7">
			<h1 class="display-5">Register</h1>
		</div>
	</div>
	<div class="row align-items-center justify-content-center">
		<div class="col text-center mt-2">
			<img src="../../../assets/images/pokecomputer.png" alt="a poke workplace with a computer" width="500" class="" />
		</div>
		<div class="col-6 text-white mx-2">
			<form #registerForm="ngForm" (ngSubmit)="onRegisterSubmit(registerForm)">
				<fieldset>
					<label for="username" class="form-label">Username *</label>
					<input
						type="text"
						placeholder="Enter a valid username. (minimum length: 3)"
						ngModel
						#username="ngModel"
						name="username"
						class="form-control"
						minlength="3"
						maxlength="50"
						required
					/>
				</fieldset>

				<div
					id="usernameErrors"
					class="alert alert-danger p-0 pt-2 px-2"
					*ngIf="username.invalid && (username.dirty || username.touched)"
				>
					<!-- Error -->
					<div *ngIf="username.errors">
						<p *ngIf="username.errors['required']">Username is required.</p>
						<p *ngIf="username.errors['minlength']">Username is too short. (Min. 3)</p>
						<p *ngIf="username.errors['maxlength']">Username is too long. (Max. 50)</p>
					</div>
				</div>

				<button
					[disabled]="registerForm.invalid"
					type="button"
					class="btn btn-warning text-white border-2 border-dark mx-1 my-2"
					(click)="onCheckUser(username.value)"
				>
					Check username
				</button>

				<button
					[disabled]="registerForm.invalid || this.userExists"
					class="btn btn-success text-white border-2 border-dark mx-4 my-2"
					type="submit"
				>
					Register User
				</button>

				<button type="button" class="btn btn-info text-white border-2 border-dark mx-1 my-2" routerLink="/login">
					Back to Login
				</button>
			</form>
		</div>
	</div>
</main>
