<ul class="pokemon-catalogue-list container">

    <app-trainer-collection-list-item 
    
    *ngFor="let pokemon of collectionPokemon"
    [pokemon]="pokemon"
    [trainer]="trainer">

    </app-trainer-collection-list-item>

</ul>
