


<main class="container">
    <h1>Pokemon Catalogue</h1>
    <app-pokemon-catalogue-list
    [pokemons]="pokemons"
    [trainer]="trainer"
    (displayPokemonDetails)="onDisplayPokemonDetails($event)">

    </app-pokemon-catalogue-list>

</main>